h1
	margin 0
	padding 0
input
	border none

.login
	height 100%
	background #333
	.m-header
		position relative
		width 100%
		height 1.28rem
		background #000
		.logo
			position absolute
			width 1.706667rem
			height .773333rem
			left .666667rem
			top .253333rem
			background url('./AITR1outline@1x.png') no-repeat 0 0 / 1.706667rem .773333rem
		.lanChoose
			position absolute
			width 2.106667rem
			height .693333rem
			padding 0 .4rem 0 .346667rem
			line-height .666667rem
			right .666667rem
			top .293333rem
			box-sizing border-box
			border-radius .133333rem
			border 1px solid #FFCA00
			color #FFCA00
			font-size .32rem
			.arrow
				position absolute
				content ''
				right .12rem
				top .24rem
				width .266667rem
				height .266667rem
				background url('./选择@2x.png') left  center / .266667rem .16rem no-repeat
.login-content
	position relative
	.login-logo
		width 3.386667rem
		height 1.533333rem
		margin 1.946667rem auto 1.066667rem
		background url('./AITR1outline.png') 0 0 / 3.386667rem 1.533333rem no-repeat
	.login-form
		font-size .373333rem
		.userName
			position relative
			width 7.466667rem
			height 1.013333rem
			margin 0 auto
			&::before
				position absolute
				content ''
				width .506667rem
				height .506667rem
				top .253333rem
				left .2rem
				background url('./用户-2@0.96x.png') center center / .426667rem .458667rem no-repeat
			input
				width 7.466667rem
				height 1.013333rem
				padding-left .746667rem
				background #FFF
				border 1px solid #ABABAB
				border-radius .08rem
				box-sizing border-box
		.userPwd
			position relative
			width 7.466667rem
			height 1.013333rem
			margin .466667rem auto .826667rem
			&::before
				position absolute
				content ''
				width .506667rem
				height .506667rem
				top .253333rem
				left .213333rem
				background url('./密码@0.96x.png') center center / .373333rem .453333rem no-repeat
			input
				width 7.466667rem
				height 1.013333rem
				padding-left .746667rem
				background #FFF
				border 1px solid #ABABAB
				border-radius .08rem
				box-sizing border-box
		.loginBtn
			position relative
			width 7.466667rem
			height 1.013333rem
			margin 0 auto
			input
				width 7.466667rem
				height 1.013333rem
				background #FFCA00
				border-radius .08rem
	.forgetPwd
		position relative
		width 7.466667rem
		height 1.013333rem
		margin .266667rem auto
		text-align right
		font-size .293333rem
		a
			color #F3F3F3